 * {
    box-sizing: border-box;
}

body 
{
    background-color: #0e1111;
    color: white;
}

#power-ups-container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px;

    border-radius: 10px;
    margin: 0px 200px;
    padding-bottom: 20px;
}


#main-goo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-centered
{
    text-align: center;
}

.hover-pointer:hover{ 
    cursor: pointer;
    transform: translate(0, -5px);
    transition: .03s;
}

.hover-pointer:active{
    transform: translate(0, -10px);
    transition: .03s;
}

.main-goo-item 
{
    align-items: center;
    justify-content: center;
}

.power-up-img {
    height: 150px;
    width: 150px;
    border-radius: 2px;
}

.power-up-item 
{
   gap: 20p;
}

.power-up-label 
{
    margin-bottom: 10px;
    position:;
}


